# min		hour	day	month	weekday	command
0,15,30,45	8-23	*	*	*	cd ~/qscrape && rake scraper:scrape
10,25,40,55     8-23    *       *       *       cd ~/qscrape && rake scraper:notify[lancer\ corolla\ civic\ city\ sunny]

